
#form{
    width:600px;
    margin:10px;
    padding:10px;
    border:1px solid gray;
}


#tbl{
    background-color:antiquewhite;
    border:1px;
    width: 800px;
}

table th{
    padding: 3px;
    white-space: nowrap;
}


table td{
    height: 20px;
}

table td:nth-of-type(1){
    width:80px;
}

table td:nth-of-type(2){
    width:80px;
}

table td:nth-of-type(3){
    width:20px;
}

table td:nth-of-type(4){
    width:250px;
}

table td:nth-of-type(5){
    width:120px;
}

table td:nth-of-type(6){
    width:50px;
}

table td:nth-of-type(7){
    width:50px;
}


#formTable th,td{
    border:1px solid gray;
}

.btn-back{
    display: none;
}


p.error{color:red};